<div class="container">
    <div class="about">
        <h2 class="fw-300">Más Sobre Nosotros</h2>
        <div class="items-information">
            <div class="item">
                <img src="./assets/img/icono1.svg" alt="seguridad">
                <h2 class="fw-500">Seguridad</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus nulla quod aut eos nemo enim.</p> 
            </div>
            <div class="item">
                <img src="./assets/img/icono2.svg" alt="El mejor precio">
                <h2 class="fw-500">El mejor precio</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus nulla quod aut eos nemo enim.</p>
            </div> 
            <div class="item">
                <img src="./assets/img/icono3.svg" alt="A tiempo">
                <h2 class="fw-500">A tiempo</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus nulla quod aut eos nemo enim.</p>
            </div>
        </div>
    </div>
</div>