<div class="container">
    <main class="about-page">
        <h1 class="fw-300 text-center">Conoce Sobre Nosotros</h1>
        <div class="contenido">
            <div class="img-about">
                <img src="../../../assets/img/nosotros.jpg" alt="" srcset="">
            </div>
            <div class="description-about">
                <h2 >25 Años de Experiencia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, dolores sunt, dolore aperiam aspernatur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque repellendus accusantium, voluptates earum sequi fugiat laborum impedit numquam nam doloribus inventore dolor magni officiis incidunt, cum sint ullam similique. Molestias nam, odio impedit voluptatum fugit doloribus. Est consequuntur excepturi corporis, commodi ipsa vero dolores magnam quam aspernatur facere enim?</p>
            </div>
        </div>
    </main>
    <section>
        <app-about></app-about>
    </section>
</div>

